/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');*/
/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

body {
  font-family: 'Roboto', sans-serif;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
